
/* 
#selector-container {
    position: absolute;
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    top: 10%;
    left: 20%;
} */

/* #selector-container div {
    margin: 20px;
    text-shadow: 0 0 4px currentColor;
} */

.grid-container {
    display: grid;
    grid-template-columns: repeat(18, 1fr) ;
    /* grid-template-columns: repeat(auto-fill, minmax(0, 1fr)); Auto-fill columns */

    /* width: fit-content; */
    /* width:720px; */
    width:100%;
    max-width: 800px;
    margin: 3vh auto;
    /* margin: auto; */

    grid-gap: 0px;
    text-align: center;
}

/* @media screen and (max-width: 767px) {
    .grid-container {
        overflow-x: scroll;
    }
  } */


.element {
    /* width: 40px; */
    /* height: 40px; */
    width:100%;
    aspect-ratio: 1;
    

    cursor: pointer;
    background: #aaaaaa;
    transition-duration: 200ms;
    transition-property: transform;
    transition-timing-function: ease-in-out;

    border-radius: 10%;
    border: 2px solid white;

    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */

    font-weight: bold;
    font-size: min(2vw, 16px); /* Scales with size of box */
}



.availabilityKPartial{
    background: hwb(120 70% 0%);
}
.availabilityLPartial{
    background: hwb(214 70% 0%);
}
.availabilityMPartial{
    background: hwb(280 70% 0%);
}

.availabilityM32Partial{
    background: hwb(280 70% 0%);
}
.availabilityM45Partial{
    background: hwb(280 70% 0%);
}



.availabilityKFull{
    background: hwb(120 30% 0%);
}
.availabilityLFull{
    background: hwb(214 30% 0%);
}
.availabilityMFull{
    background: hwb(280 30% 0%);
}

.availabilityM32Full{
    background: hwb(280 30% 0%);
}
.availabilityM45Full{
    background: hwb(280 30% 0%);
}




.selectedElement {
    background: #ff0000;
}

.element:hover { 
    transform: scale(1.3);
}



/* .c-cat,
.c-config,
.c-disc {
    width: 100%;
} */





.element-2 {
    grid-column-start: -2;
}
.element-5, .element-13 {
    grid-column-start: 13;
}

.element-72, .element-104 {
    grid-column-start: 4;

}
.element-57 {
    grid-column-start: 3;
    grid-row-start: 11;
}
.element-58 {
    grid-column-start: 4;
    grid-row-start: 11;
}
.element-59 {
    grid-column-start: 5;
    grid-row-start: 11;
}
.element-60 {
    grid-column-start: 6;
    grid-row-start: 11;
}
.element-61 {
    grid-column-start: 7;
    grid-row-start: 11;
}
.element-62 {
    grid-column-start: 8;
    grid-row-start: 11;
}
.element-63 {
    grid-column-start: 9;
    grid-row-start: 11;
}
.element-64 {
    grid-column-start: 10;
    grid-row-start: 11;
}
.element-65 {
    grid-column-start:11;
    grid-row-start: 11;
}
.element-66 {
    grid-column-start: 12;
    grid-row-start: 11;
}
.element-67 {
    grid-column-start: 13;
    grid-row-start: 11;
}
.element-68 {
    grid-column-start: 14;
    grid-row-start: 11;
}
.element-69 {
    grid-column-start: 15;
    grid-row-start: 11;
}
.element-70 {
    grid-column-start: 16;
    grid-row-start: 11;
}

.element-71 {
    grid-column-start: 17;
    grid-row-start: 11;
}

.element-89 {
    grid-column-start: 3;
    grid-row-start: 12;
}
.element-90 {
    grid-column-start: 4;
    grid-row-start: 12;
}
.element-91 {
    grid-column-start: 5;
    grid-row-start: 12;
}
.element-92 {
    grid-column-start: 6;
    grid-row-start: 12;
}
.element-93 {
    grid-column-start: 7;
    grid-row-start: 12;
}
.element-94 {
    grid-column-start: 8;
    grid-row-start: 12;
}
.element-95 {
    grid-column-start: 9;
    grid-row-start: 12;
}
.element-96 {
    grid-column-start: 10;
    grid-row-start: 12;
}
.element-97 {
    grid-column-start:11;
    grid-row-start: 12;
}
.element-98 {
    grid-column-start: 12;
    grid-row-start: 12;
}
.element-99 {
    grid-column-start: 13;
    grid-row-start: 12;
}
.element-100 {
    grid-column-start: 14;
    grid-row-start: 12;
}
.element-101 {
    grid-column-start: 15;
    grid-row-start: 12;
}
.element-102 {
    grid-column-start: 16;
    grid-row-start: 12;
}
.element-103 {
    grid-column-start: 17;
    grid-row-start: 12;
}

/* @media only screen and (max-width: 786px) {
    #selector-container {
        top: 10%;
        left: 30%;
    }
} */